.about-title {
    font-weight: var(--regular); /*400*/
    font-size: 50px;
    line-height: 65px;
}

.about-descr {
    max-width: 1080px;
    color: var(--black-light);
    font-weight: var(--regular); /*400*/
    font-size: 16px;
    line-height: 31.6px;
}
