.section-events {
    padding-bottom: 0;
}

.events-title {
    line-height: 66px;
}

.events-list {
    justify-content: space-between;
}

.events-item {
    border: 1px solid var(--white-dark);
}

.events-position {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    max-width: 100%;
    height: 100%;
}

.events-item:not(:last-child) {
    margin-right: 27px;
}

.events-card-info {
    display: flex;
    flex-direction: column;
}

.events-item {
    max-width: 100%;
    width: 500px;
}

.events-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 100%;
    height: 100%;
    padding: 3px 50px 50px 50px;
}

.events-info-date {
    color: var(--gray);
    margin-bottom: 13px;
    font-weight: var(--semibold); /* 600 */
    font-size: 12px;
    line-height: 16px;
}

.events-item-title {
    margin: 0;
    margin-bottom: 10px;
    width: 84%;
    color: var(--black-light);
    font-weight: var(--semibold); /* 600 */
    font-size: 24px;
    line-height: 32px;
}

.item-descr {
    color: var(--black-light);
    margin-bottom: 50px;
}

.catalog-item-link {
    padding-top: 14px;
    height: 39px;
    width: 88px;
    text-align: center;
    outline: none;
    color: var(--violet);
}

.catalog-link-descr {
    display: inline-block;
    font-weight: var(--regular); /* 400 */
    font-size: 16px;
    line-height: 32px;
}

.catalog-link-descr::after {
    content: "";
    display: block;
    position: relative;
    top: -3px;
    height: 2px;
    margin-bottom: 1px;
    width: 100%;
    background: var(--violet);
}

.catalog-item-link:focus:not(:active) {
    background-color: var(--violet);
}

.catalog-item-link:focus:not(:active) .catalog-link-descr::after {
    background: var(--white);
}

.catalog-item-link:focus:not(:active) .catalog-link-descr {
    color: var(--white);
}

.catalog-link-descr:hover {
    color: var(--violet-dark);
}

.catalog-link-descr:hover::after {
    background: var(--violet-dark);
}

.catalog-link-descr:active .catalog-item-link:focus {
    background-color: var(--white);
}

.catalog-link-descr:active {
    color: var(--black-light);
}

.catalog-link-descr:active::after {
    background: var(--black-light);
}
